html body {
	height: 100%;
}
body {
    height:100%;
	width:100%;
	background-image: url('images/bedge_grunge/bedge_grunge_@2X.png');
	overflow:auto;
	font-family: "Junction";
	color: $fontshade;
	background: -moz-linear-gradient(left top 315deg, $orangemix, $greenmix-dark);
	background: -webkit-gradient(linear, left top, right bottom, from($orangemix), to($greenmix-dark));
		
}


.wrap {
	min-height: 100%;
}



footer {
	position: relative;
	margin-top: -150px; 
	/* negative value of footer height */
	height: 150px;
	clear:both;} 

/*Opera Fix*/
body:before {
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;
}



p{ 
	line-height: 130%;

}

.middlepattern{
	height:100%;
	overflow:auto;
	padding-bottom: 150px; 
	/* must be same height as the footer */
	margin-right:auto;
	margin-left:auto;
	background-image: url('images/bedge_grunge/bedge_grunge_@2X.png');
	padding-top:40px;
	margin-top:20px;
	border-top: 6px solid #f9f9f9;


	@media (min-width: 500px){
		margin-bottom:10%;
		width:80%;
		border: 8px solid #f9f9f9;
	}

}
.row{
	margin-bottom:45px;
	height:100%;

	}


.innards{
	@include shadow-palette(2px);
	width:75%;
	margin-right:auto;
	margin-left:auto;
	padding: 5% 5% 5% 5%;
	background-color: $greenmix-light;
	border: 10px solid #f9f9f9;



	h2{
		text-align: center;
		font-size: 2em;
		margin-bottom:5px;

	}

}
