body {
    height:100%;
	width:100%;
	background-color: $primary-color;
	overflow:auto;
	font-family: "Raleway";
	.content{
		width:90%;
	}
}

.topnav{
	height:100%;
	padding-top:20px;
	padding-left:0px;
	padding-right:0px;
	background-color: $primary-color-lighter;




	ul li{
			float:none;
			display:block;
			text-align:left;
			height:20px;
			padding-top:10px;
			padding-bottom:5px;
			padding-left:20px;
			background-color:rgba(32,32,32,.3);
			margin-left: 20%;
			margin-bottom:20px;
			-moz-box-shadow: 0 4px 4px #ccc;
   			-webkit-box-shadow: 0 4px 4px #ccc;
    		box-shadow: 0 4px 4px #ccc;


			}
	
}
.torso{



}







