
.core{
	height:800px;
	width:100%;
	background-color: $bluetest-dark;
	
}
.menulist{
	background-color: #ffa300;
	padding-top:15px;
	padding-left:30px;
	padding-bottom:15px;

	ul li{
			background-color: rgba(0,0,0,.2);
			height:20px;
			padding-left:20px;
			padding-top:7px;
			padding-bottom:7px;
			margin-top:15px;
			margin-bottom:15px;

		}


}
section{
	height:500px;
	width:500px;
	margin-left:auto;
	margin-right:auto;
}


.hex {
    margin-top: 35px;
    width: 102px;
    height: 60px;
    background-color: #6C6;
    position: relative;



		&:before {
		    content: " ";
		    width: 0; height: 0;
		    border-bottom: 30px solid #6C6;
		    border-left: 52px solid transparent;
		    border-right: 52px solid transparent;
		    position: absolute;
		    top: -30px;
		}

		&:after {
		    content: "";
		    width: 0;
		    position: absolute;
		    bottom: -30px;
		    border-top: 30px solid #6C6;
		    border-left: 52px solid transparent;
		    border-right: 52px solid transparent;
		}

		&:nth-child(even){
		background-color: #EFC050;
		clear:left;
		margin-left:56px;

		   	&:before {
			    content: " ";
			    width: 0; height: 0;
			    border-bottom: 30px solid #EFC050;
			    border-left: 52px solid transparent;
			    border-right: 52px solid transparent;
			    position: absolute;
			    top: -30px;
			}

			&:after {
			    content: "";
			    width: 0;
			    position: absolute;
			    bottom: -30px;
			    border-top: 30px solid #EFC050;
			    border-left: 52px solid transparent;
			    border-right: 52px solid transparent;
			}

    	 	
    	}
}
