/* _colors-and-mix.scss */
@font-face {
  font-family: 'Junction';
  src: url("fonts/Junction/webfonts/Junction-webfont.eot");
  src: local("Junction"), local("Junction"), url("fonts/Junction/webfonts/Junction-webfont.woff") format("woff"), url("fonts/Junction/webfonts/Junction-webfont.otf") format("opentype"), url("fonts/Junction/webfonts/Junction-webfont.svg") format("svg"), url("fonts/Junction/webfonts/Junction-webfont.ttf") format("true-type font"); }
