/* _colors-and-mix.scss */


$offwhite: #f6f0e5;
$fontshade: #302f2f;
$circlesize: 200px;
$circlesize-prime: ($circlesize + 20px);


$fontshade: rgb(48, 47, 47);
$fontshade-visited: rgb(79, 78, 78);

$orangemix: rgb(252, 245, 231);
$orangemix-light: lighten( $orangemix, 10% );
$orangemix-lighter: lighten( $orangemix, 20% );
$orangemix-lightest: lighten( $orangemix, 30% );
$orangemix-dark: darken( $orangemix, 10% );
$orangemix-darker: darken( $orangemix, 20% );

$greenmix: rgb(116, 163, 176);
$greenmix-light: lighten( $greenmix, 10% );
$greenmix-lighter: lighten( $greenmix, 20% );
$greenmix-dark: darken( $greenmix, 10% );
$greenmix-darker: darken( $greenmix, 20% );

@mixin shadow-palette($shadowsize){
  -moz-box-shadow: $shadowsize 6px 2px $shadowsize rgba(0,0,0,.1);
  -webkit-box-shadow:  $shadowsize 6px 2px $shadowsize rgba(0,0,0,.1);
  box-shadow:  $shadowsize 6px 2px $shadowsize rgba(0,0,0,.1);
}

@mixin circle-base($circlediameter){

	 height:$circlediameter;
   width:$circlediameter;
   border-radius: 50%;
   -moz-border-radius: 50%;
   -webkit-border-radius: 50%;
}
@font-face {
  font-family: 'Junction';
  src: url('fonts/Junction/webfonts/Junction-webfont.eot');
  src: local('Junction'), local('Junction'),
    url("fonts/Junction/webfonts/Junction-webfont.woff") format("woff"),
    url("fonts/Junction/webfonts/Junction-webfont.otf") format("opentype"),
    url("fonts/Junction/webfonts/Junction-webfont.svg") format("svg"),
    url("fonts/Junction/webfonts/Junction-webfont.ttf") format("true-type font");
}



