/* _colors-and-mix.scss */
@font-face {
  font-family: 'Raleway';
  src: url("fonts/webfonts/raleway_thin-webfont.eot");
  src: local("Raleway"), local("Raleway"), url("fonts/webfonts/raleway_thin-webfont.woff") format("woff"), url("fonts/webfonts/raleway_thin-webfont.otf") format("opentype"), url("fonts/webfonts/raleway_thin-webfont.svg") format("svg"), url("fonts/webfonts/raleway_thin-webfont.ttf") format("true-type font"); }
