/* _colors-and-mix.scss */

$primary-color: #a1cba4;
$offwhite: #f6f0e5;
$background-shade: #dfcfbe;
$fontshade: #302f2f;
$primary-color-light: lighten( $primary-color, 10% );
$primary-color-lighter: lighten( $primary-color, 20% );
$primary-color-dark: darken( $primary-color, 10% );
$primary-color-darker: darken( $primary-color, 20% );
$circlesize: 200px;
$circlesize-prime: ($circlesize + 20px);


$bluetest: #2288bb;
$bluetest-light: lighten( $bluetest, 10% );
$bluetest-lighter: lighten( $bluetest, 20% );
$bluetest-dark: darken( $bluetest, 10% );
$bluetest-darker: darken( $bluetest, 20% );


@mixin circle-base($circlediameter){

	 height:$circlediameter;
   width:$circlediameter;
   border-radius: 50%;
   -moz-border-radius: 50%;
   -webkit-border-radius: 50%;
}
@font-face {
  font-family: 'Raleway';
  src: url('fonts/webfonts/raleway_thin-webfont.eot');
  src: local('Raleway'), local('Raleway'),
    url("fonts/webfonts/raleway_thin-webfont.woff") format("woff"),
    url("fonts/webfonts/raleway_thin-webfont.otf") format("opentype"),
    url("fonts/webfonts/raleway_thin-webfont.svg") format("svg"),
    url("fonts/webfonts/raleway_thin-webfont.ttf") format("true-type font");
}



