.herounit{
	width:100%;
	height:100%;
	background-color: rgb(252, 245, 231);
	@media screen and (min-width: 44em) {
		overflow: hidden;

	}
	.wrapper{
		width:70%;
		max-width:660px;
		margin-right:auto;
		margin-left:auto;
		@media screen and (min-width: 600px){
			overflow:hidden;
			div{
				float:left;
				width:50%;
				&:nth-child(odd){
					clear:left;

				}
							} 
		}
		.arrow{ 
			height:100px;
			width:80px;
			background-image: url("images/arrow_1.png");
			background-repeat: no-repeat;
			background-position:center;
			background-size: 50%;

			@media screen and (max-width: 600px){
				&:nth-child(even){
					display:none;
				}
			}

		}

		.blurb{
			box-sizing:border-box;
			padding: 2em 1em .3em;
	  		margin-bottom: 1em; 
	  		@media screen and (min-width: 600px) {
	    		float:left;
	    		width: 50%;
	  		} 
	  		p{
	  			font-size: 1.1em;
	  			span{
	  				font-weight:bold;
	  			}
	  		}
		}


	}
}

