/* _colors-and-mix.scss */
@font-face {
  font-family: 'Raleway';
  src: url("fonts/webfonts/raleway_thin-webfont.eot");
  src: local("Raleway"), local("Raleway"), url("fonts/webfonts/raleway_thin-webfont.woff") format("woff"), url("fonts/webfonts/raleway_thin-webfont.otf") format("opentype"), url("fonts/webfonts/raleway_thin-webfont.svg") format("svg"), url("fonts/webfonts/raleway_thin-webfont.ttf") format("true-type font"); }

header {
  height: 480px;
  width: 100%;
  background-color: #f9f9f9;
  background-image: url("images/pixel_weave/pixel_weave_@2X.png");
  background-repeat: repeat;
  overflow: auto;
  border-bottom: 10px solid #a1cba4; }

.capsule {
  width: 90%;
  margin-right: auto;
  margin-left: auto; }
  .capsule h1 {
    text-align: center;
    margin-top: 30px;
    font-style: bold;
    font-size: 35px; }

.circlelogo {
  height: 150px;
  width: 150px;
  border-radius: 150px;
  -moz-border-radius: 150px;
  -webkit-border-radius: 150px;
  float: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  box-shadow: 0px 0px 0px 16px  #f1f1f1;
  border: 16px solid #f9f9f9; }
  .circlelogo .logotext {
    text-align: center;
    font-size: 25px;
    padding-top: 33%; }

body {
  height: 100%;
  width: 100%;
  background-color: #a1cba4;
  overflow: auto;
  font-family: "Raleway"; }
  body .content {
    width: 90%; }

.topnav {
  height: 100%;
  padding-top: 20px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #e3efe4; }
  .topnav ul li {
    float: none;
    display: block;
    text-align: left;
    height: 20px;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 20px;
    background-color: rgba(32, 32, 32, 0.3);
    margin-left: 20%;
    margin-bottom: 20px;
    -moz-box-shadow: 0 4px 4px #ccc;
    -webkit-box-shadow: 0 4px 4px #ccc;
    box-shadow: 0 4px 4px #ccc; }

.content {
  width: 80%;
  margin-left: auto;
  margin-right: auto; }
  .content .row {
    margin-top: 40px;
    margin-bottom: 40px;
    height: 100%; }

h2 {
  text-align: center;
  font-size: 2em;
  margin-bottom: 5px;
  font-weight: bold; }

p {
  line-height: 120%;
  /* bold not working on mobile? */
  font-weight: bold; }

a {
  font-weight: bold; }

/* if something isn't working, remember to save this again! */
