/* _colors-and-mix.scss */
@font-face {
  font-family: 'Junction';
  src: url("fonts/Junction/webfonts/Junction-webfont.eot");
  src: local("Junction"), local("Junction"), url("fonts/Junction/webfonts/Junction-webfont.woff") format("woff"), url("fonts/Junction/webfonts/Junction-webfont.otf") format("opentype"), url("fonts/Junction/webfonts/Junction-webfont.svg") format("svg"), url("fonts/Junction/webfonts/Junction-webfont.ttf") format("true-type font"); }

body {
  height: 100%;
  width: 100%;
  background-image: url("images/bedge_grunge/bedge_grunge_@2X.png");
  overflow: auto;
  font-family: "Junction";
  color: #302f2f;
  background: -moz-linear-gradient(left top 315deg, #fcf5e7, #578b9a);
  background: -webkit-gradient(linear, left top, right bottom, from(#fcf5e7), to(#578b9a)); }

header {
  height: 480px;
  width: 100%;
  background-color: #f9f9f9;
  background-image: url("images/bedge_grunge/bedge_grunge_@2X.png");
  background-repeat: repeat;
  overflow: auto; }
  @media (min-width: 600px) {
    header {
      height: 300px; } }
  header .circlelogo {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    float: none;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    background-color: rgba(87, 139, 154, 0.4);
    box-shadow: 0px 0px 0px 16px rgba(255, 255, 255, 0.4);
    border: 16px solid #f1f1f1; }
    @media (min-width: 600px) {
      header .circlelogo {
        height: 100px;
        width: 100px;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        margin-top: 40px;
        margin-left: 30px;
        float: left;
        box-shadow: 0px 0px 0px 10px rgba(255, 255, 255, 0.4);
        border: 10px solid #f1f1f1; } }
    header .circlelogo a {
      display: block;
      height: 100px; }
      header .circlelogo a span {
        box-sizing: border-box;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1;
        background-image: url("images/empty.gif");
        text-align: center;
        font-size: 23px;
        text-decoration: none;
        color: #302f2f;
        padding-top: 40%; }
        @media (min-width: 600px) {
          header .circlelogo a span {
            font-size: 16px; } }
  header .capsule {
    width: 90%;
    max-width: 430px;
    margin-right: auto;
    margin-left: auto; }
    @media (min-width: 600px) {
      header .capsule {
        padding-left: 25px;
        margin-top: 100px; } }
    header .capsule h1 {
      text-align: center;
      margin-top: 30px;
      font-size: 35px; }
      @media (min-width: 600px) {
        header .capsule h1 {
          margin-top: 50px; } }

.topnav {
  overflow: auto;
  background-color: #95b9c2;
  border-top: 6px solid #f9f9f9;
  border-bottom: 6px solid #f9f9f9;
  padding-top: 10px; }
  @media (min-width: 600px) {
    .topnav {
      height: 100px; } }

.navprime {
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
  width: 130px;
  line-height: 3em;
  padding-bottom: 10px; }
  @media (min-width: 393px) {
    .navprime {
      margin-top: auto; } }
  @media (min-width: 600px) {
    .navprime {
      width: 400px;
      line-height: 2em;
      margin-top: 30px; } }
  .navprime li {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    list-style-type: none;
    font-size: 20pt; }
    @media (min-width: 600px) {
      .navprime li {
        display: inline; }
        .navprime li:first-of-type {
          margin-right: 85px;
          margin-left: 10%; } }
    .navprime li a {
      text-decoration: none; }
      .navprime li a:link {
        color: #302f2f; }
      .navprime li a:visited {
        color: #232222; }
      .navprime li a:hover {
        color: #4a4848; }

.smlinks {
  -moz-box-shadow: 2px 6px 2px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 2px 6px 2px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 6px 2px 2px rgba(0, 0, 0, 0.1);
  float: right;
  display: block;
  text-align: left;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  margin-bottom: 5px;
  background-color: white; }
  @media (min-width: 393px) {
    .smlinks {
      width: 70px;
      line-height: 1.5em; } }
  .smlinks a {
    padding-right: 10px;
    float: left; }

.middlepattern {
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  background-image: url("images/bedge_grunge/bedge_grunge_@2X.png");
  padding-top: 40px;
  margin-top: 20px;
  border-top: 6px solid #f9f9f9; }
  @media (min-width: 500px) {
    .middlepattern {
      margin-bottom: 10%;
      width: 80%;
      border: 8px solid #f9f9f9; } }

.row {
  margin-bottom: 45px;
  height: 100%; }

.innards {
  -moz-box-shadow: 2px 6px 2px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 2px 6px 2px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 6px 2px 2px rgba(0, 0, 0, 0.1);
  width: 75%;
  margin-right: auto;
  margin-left: auto;
  padding: 5% 5% 5% 5%;
  background-color: #95b9c2;
  border: 10px solid #f9f9f9; }
  .innards h2 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 5px; }
  .innards p {
    line-height: 130%; }

/* if something isn't working, remember to save this again! */
